/* jenkins theme */
@import 'https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-blue-grey.css';
/* custom css */
body > footer {
    background-color: #31393A;
}
#header {
    background-color: #31393A;
}
body > footer .container-fluid .row {
    display: flex;
    align-items: center;
}
#header .logo:after {
    display: none;
}
footer .jenkins-lnk,
footer .contact-lnk {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    display: block;
    text-align: left;
    margin-left: 0;
}
body#jenkins {
    padding-bottom: 75px;
}
footer .jenkins-lnk {
    color: #F9A51A;
    text-transform: uppercase;
}
footer .footer-logo-thrive {
    width: 120px;
    height: 40px;
    display: block;
}
body > footer .container-fluid .col-md-18,
body > footer .container-fluid .col-md-6 {
    display: none;
}
.icon-black {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #31393A;
}
footer .col-md-8:nth-child(2) {
    display: flex;
    justify-content: center;
}
footer .col-md-8:last-child {
    display: flex;
    justify-content: flex-end;
}
.header-jenkins-logo {
    width: 120px;
    height: 40px;
}
.header-jenkins-logo svg {
    overflow: visible;
}