body > footer {
    background-color: #cccccc;
}
#header {
    background-color: #cccccc;
}
body > footer .container-fluid .row {
    display: flex;
    align-items: center;
}
#header .logo:after {
    display: none;
}
#footer .contact-lnk {
    color: #31393a;
    font-weight: 600;
    font-size: 14px;
    display: block;
    text-align: left;
    margin-left: 0;
}
body#jenkins {
    padding-bottom: 75px;
}